<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div class="toggled" id="sidebar-wrapper">
            <ul class="sidebar-nav toggled">
                <li class="sidebar-brand toggled">
                    <a href="/posts">
                        Danny's Memorial
                    </a>
                </li>
                <li>
                    <a href="/posts/new">New Post</a>
                </li>
                <li>
                    <a href="/photos/index">Pictures</a>
                </li>
                <li>
                    <a href="/photos/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <button type="button" class="btn btn-default navbar-btn" id="menu-toggle">Menu</button>
                            <h3 style="float: right; font-size: 25px;">Danny's Memorial</h3>
                         <hr>
                         <div class="col-lg-2"></div>
                         <div class="col-lg-8">
                      
                           <span style="font-size: 25px;" id="thingy">Photos</span> 
                            <hr style="border-color: #17A2FF;">
                              </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                       <div class="page-header"><h1>Upload Photo</h1></div>

    <%= form_for Photo.new do |f| %>
  

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control', :html => { :multipart => true }, :required => "true" %>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %><!--Put all photo stuff in here-->
                        

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
