<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Danny's Memorial</title>
    <link rel="shortcut icon" href="websiteicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div class="toggled" id="sidebar-wrapper">
            <ul class="sidebar-nav toggled">
                <li class="sidebar-brand toggled">
                        <a href="/posts">
                        Danny's Memorial
                    </a>
                </li>
                <li>
                    <a href="/posts/new">New Post</a>
                </li>
                <li>
                    <a href="/photos/index">Pictures</a>
                </li>
                <li>
                    <a href="/photos/new">Upload Photo</a>
                </li>
                <li>
                    <a href="/photos/about">About</a>
                </li>
                <li>
                     <% if user_signed_in? %>
                         
                          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'sidebar-brand toggled' %> <span style="font-size: 20px;"></span>
                          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'sidebar-brand toggled'  %>
                           <span style="color: darkgray; margin-left: 8%;">Logged in as</span> <strong style="color: lightgray;"><%= current_user.first_name %></strong>
                        <% else %>
                          <%= link_to "Sign up", new_user_registration_path, :class => 'sidebar-brand toggled'  %>
                          <%= link_to "Login", new_user_session_path, :class => 'sidebar-brand toggled'  %>

                        <% end %>
                    </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <button type="button" class="btn btn-default navbar-btn" id="menu-toggle">Menu</button>
                            <h3 style="float: right; font-size: 25px;" id="thingy">Danny's Memorial</h3>
                         <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                             <span style="font-size: 25px;" id="thingy">New Post</span>  
                              <hr style="border-color: #17A2FF;">
                            <h3>Please Fill Out The Form Below</h3>
                            <small>*all fields are required</small>
                            <br><br>
                   <%= form_for :post, url: posts_path, html: { multipart: true } do |f| %>
    <p>
        <%= f.label :name, {:style=>'color:black;'}%><br>
        <%= f.text_field :title, :required => true, :class => 'input_field', :style => "width: 300px" %><br><br>
    </p>
    
    
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body,:required => true, :class => 'input_field', :style => "width: 700px", :cols => "30", :rows => "10" %>
    </p>

    <p>
        <%= f.submit :class => "btn btn-default" "Submit Post" %>
    </p>

    <% end %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
